
<div class="hero-unit">

<h2> <span style="color:#469dee"> About Us </span></h2>
<p>
ProfBack is the brainchild of five undergraduate students at Georgetown University. It was first meant to be only for an in-class project but it turned out to be so much more. The five students thought that one of the largest issues facing higher education was the inability for them to give professors feedback in a real-time manner. The solution to this problem is ProfBack! 
</p>

<p>
ProfBack allows students who have questions, comments, critiques, or any other information that is relevant to the class a way to contact the professor anonymously. People might think that this service already exists; it is called talking to the teacher in person. But, we felt that there are many reasons why students are afraid to speak to the professors about topics like these. One reasons is teacher retribution or one’s grade will suffer because of the negative comments he or she made about the class. Another being that one is just too shy to ask. As current students, we have experienced both of these scenarios and want to fix this. Since the service is completely anonymous the teacher cannot know who is giving the feedback. 
</p>


</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span6">
    </div>
    <div class="span3">
      <!--Body content-->
    </div>
  </div>
</div>
