<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39911380-1', 'profback.com');
  ga('send', 'pageview');

</script>

<div class="front-bg">
  <img alt="" class="front-image" src="/assets/grumpy_cat.jpeg">
</div>
<div class="hero-unit">

<h2> <span style="color:#469dee"> About Us </span></h2>
<p>
ProfBack.com is the brainchild of five undergraduate students at Georgetown University. We started this site in Spring 2013 as a project for our Philosophy class and plan to make the site usable by all Georgetown students next year. Our team believes that a significant issue facing higher education is the inability for students to give professors feedback in a real-time manner. While year-end surveys are useful, they don't provide immediate feedback to professors. As such, current students do not receive any benefit from their feedback. Our solution to this problem is ProfBack.com, which aligns incentives between students and professors and improves learning environments right away. 
</p>

<p>
ProfBack.com provides students who have questions, comments, critiques, or any other information that is relevant to a class the opportunity to contact the professor anonymously. There are numerous reasons why a student might be uncomfortable approaching a professor directly, especially with constructive criticism. Profback.com, designed to facilitate respectful, constructive dialogue between professors and students, will give students an effective outlet to improve their learning environment. 
<br><br>
We are currently testing our idea. If you have any feedback, please reach out to us!
</p>


</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span6">
    </div>
    <div class="span3">
      <!--Body content-->
    </div>
  </div>
</div>
