
<div class="front-container">
      <div class="front-bg">
        <img alt="" class="front-image" src="/assets/blue_georgetown_4.jpg">
      </div>

      <div class="front-card">
        <div class="front-welcome">
          <div class="front-welcome-text">

            <% if user_signed_in? %>
            <h1>View Student Feedback!</h1>

            <p> Thank you for taking part in our beta test! </p>
            <br>
            <a href="/profs" class="btn btn-primary btn-large"> View Feedback </a> 

            <% else %>

            <h1>Communicate Anonymously with Professors</h1>
            <p> Improve YOUR learning environment by giving professors real-time, anonymous feedback </p>
            <p>
            <a href="/profs/new" class="btn btn-primary btn-large"> Give Feedback </a> 

            <% end %>
          </div>
        </div> 
      </div>
</div>

  <!-- <div class="front-signup">
    <h2> 
    </h2>
    <a href="/profs/new" class="btn btn-primary btn-large"> Give Feedback </a> -->
    <!--<%= link_to "Students", new_prof_path, class: "btn btn-primary btn-large" %> -->
    <!-- <%= link_to "Professors", professors_path, class: "btn btn-primary btn-large" %> -->


<!--
<div class="front-footer">
        <ul>
        </ul>
        © 2013 ProfBack.com
      </div>

-->
  <!-- add a professor sign up button! -->
