<div class="hero-unit">
  <h1>Communicate Anonymously with Professors</h1>
  <p>This app will give those interested in providing feedback to professors the ability to do so anonymously. Professors will also be able to respond to these comments directly. Our goal is to facilitate a better classroom experience by allowing professors to get direct and real-time feedback from students and to explain their teaching methods as well.</p>
  <p>
  	
	<!-- add a professor sign up button! -->
  	
    <div class="span6 offset6">
    <%= link_to "Students", new_prof_path, class: "btn btn-primary btn-large" %>
    <%= link_to "Professors", professors_path, class: "btn btn-primary btn-large" %>
  	</div>
    	
  </div>
  <div class="span2">
  </div>
  </p>
</div>