/*you could change the font */
/*$baseFontFamily: monofett;
@import url(http://fonts.googleapis.com/css?family=monofett);*/

@import url(http://fonts.googleapis.com/css?family=Ubuntu);


$navbarText: #7490BC;
$navbarLinkColor: #FFFFFF;
$navbarLinkColorHover: white;
$navbarLinkColorActive: white;
$navbarLinkBackgroundHover: transparent;
$navbarLinkBackgroundActive: white;

$navbarSearchPlaceholderColor: white;
$navbarBrandColor: white;

$btnPrimaryBackground: #469dee;
$navbarBackgroundHighLight: #c0deed;
$navbarBackground: #c0deed;
$herounitBackground: white;

@import 'bootstrap';

/*.navbar-inner { */
		/*@include box-shadow(none !important);*/
	/*	border: 0; */
		/* background-color: #0084b4} */

.navbar .brand-logo {
float: left;
display: block;
padding: 6px 20px 10px;
margin-left: -20px;
font-size: 20px;
font-weight: 200;
color: white;
text-shadow: 0 1px 0 white;
}


.navbar-inner {
background: #469dee; /* Old browsers */
background: -moz-linear-gradient(top, #469dee 0%, #1c7cea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#469dee), color-stop(100%,#1c7cea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #469dee 0%,#1c7cea 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #469dee 0%,#1c7cea 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #469dee 0%,#1c7cea 100%); /* IE10+ */
background: linear-gradient(to bottom, #469dee 0%,#1c7cea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#469dee', endColorstr='#1c7cea',GradientType=0 ); /* IE6-9 */
}

.navbar-inner, .navbar .btn-navbar { 
background: #469dee; /* Old browsers */
background: -moz-linear-gradient(top, #469dee 0%, #1c7cea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#469dee), color-stop(100%,#1c7cea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #469dee 0%,#1c7cea 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #469dee 0%,#1c7cea 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #469dee 0%,#1c7cea 100%); /* IE10+ */
background: linear-gradient(to bottom, #469dee 0%,#1c7cea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#469dee', endColorstr='#1c7cea',GradientType=0 ); /* IE6-9 */
}

.navbar .divider-vertical {
	background-color: #1c7cea;
  border-right: 1px solid #469dee;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-color: #ffffff;
    }

.navbar .nav > li > a {
		/*float: none;*/
    /*line-height: 19px;*/
    /*padding: 9px 10px 11px;*/
    text-decoration: none;
    text-shadow: black 0.1px 1px 2px;
    color: white;
    }

    .navbar-fixed-top .brand {
    text-shadow: black 0.1px 1px 2px;
    color: #1c7cea;color: #ffffff;
    }
    /* need to fix, change to 50% of color of gradient and shift to white */

.navbar .nav > li > a:hover {color:white;}

.navbar .nav .active > a, .navbar .nav .active > a:hover {color:white;}

* {
margin: 0;
}


body{


img.front-image {
min-height: 100%;
min-width: 1024px;
width: 100%;
height: auto;
position: fixed;
top: 0;
left: 0;
z-index: -9999;
}

.front-card {
width: 838px;
height: 328px;
position: absolute;
left: 50%;
top: 300px;
margin-left: -419px;
margin-top: -164px;
}


.front-welcome {
position: absolute;
top: 0;
left: 0;
display: block;
width: 520px;
height: 328px;
border: 0;
}

.front-welcome-text {
position: absolute;
bottom: 30%;
left: 0;
width: 470px;
font-size: 20px;
font-weight: 300;
line-height: 22px;
color: #EEE;
text-align: left;
text-shadow: black 0 1px 2px;
}

.front-signup {
position: absolute;
top: 50%;
margin-top: -103px;
left: 536px;
width: 300px;
height: 206px;
background: white;
background-color: #f1f1f1;
background-image: -webkit-linear-gradient(top, #fff, #ddd);
background-repeat: repeat-x;
border-radius: 4px;
}

.front-signup h2 {
position: relative;
display: block;
text-align: left;
padding: 10px 12px;
margin-bottom: 30px;
font-size: 16px;
font-weight: 300;
color: #777;
border-bottom: 1px solid #E2E2E2;
-webkit-box-shadow: 0 1px 0 #fff;
-moz-box-shadow: 0 1px 0 #fff;
box-shadow: 0 1px 0 #fff;
text-shadow: 0 1px 0 white;
}

.front-signup .btn {
position: absolute;
top: 50%;
right: 50%;
margin: -18px -58px 0 0;
padding: 11px 19px;
font-size: 20px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}

.btn {
display: inline-block;
line-height: 20px;
text-align: center;
vertical-align: middle;
cursor: pointer;
}


/* The below CSS is for the form */


.feedback-container {
  
width: 600px;
height: 470px;
padding: 15px;
background-color: #ffffff;
border-radius: 6px;
margin-right: auto;
margin-left: auto;
}

.feedback-container-modal {
width: 320px;
margin-right: auto;
margin-left: 196px;

}

.feedback-container h2 {
width: 450px;
margin-right: auto;
margin-left: 95px;
}

.form-inputs {
  width: 420px;
height: 310px;
padding: 0px;

margin-right: auto;
margin-left: 75px;
}
.simple_form label {
text-align: left;
}


input[type="submit"].btn {
display: inline-block;
line-height: 20px;
text-align: center;
vertical-align: middle;
cursor: pointer;
color: white;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #4686ee;
background-image: -webkit-linear-gradient(top, #469dee, #4665ee);
background-repeat: repeat-x;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
padding: 4px 12px;
margin-bottom: 0;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

}

input[type="submit"].btn:hover{
  color: white;
background-color: #4665ee;
text-decoration: none;
background-position: 0 -15px;
-webkit-transition: background-position 0.1s linear;
}


input, textarea, input[type="text"], .uneditable-input {
height: auto;
width: 225px;
}

select {
width: 239px;
border: 1px solid #cccccc;
background-color: white;
}


textarea, .uneditable-input {
height: auto;
width: auto;
}
  
	padding-top: 60px;
	color: #333333;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-size: 14px;
  line-height: 20px;
  background-color: #c0deed
  /*#E0EEF5*/
  /*#A0E1FF*/
  /*D0E0EB*/

}

html, body {
height: 100%;

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
  height: 142px; /* .push must be the same height as .footer */
  padding: 0px 0px 0px 7px;
}
}

@import 'bootstrap-responsive';

 .hero-unit {
  	background-color: #ffffff;
} 


