
<div class="row-fluid">
  <div class="span3"></div>
    <div class="span6">
<h2>Professor Feedback Form</h2>

<a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">Feedback Examples!</a>
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Feedback Guidelines</h3>
  </div>
  <div class="modal-body">
    <p>
<h3> Examples of <span style="color:#FF0000">bad</span> feedback: </h3>
<p>
•	Lecture was boring today. I almost fell asleep 
</p>

<p>
<span style="color:#469dee">
o This feedback is not specific enough for the professor to change anything. Try to incorporate what was specifically boring and what was not. 
</span>
</p>

<p>
•	The movie was we watched today was worthless. 
</p>
<p>
<span style="color:#469dee">
o	Again, not specific enough. The professor probably thinks the movie is valuable for specific reasons. Try to bring up why you thought it was worthless.
</span>
</p> 

<p>
•	You are the worst professor at Georgetown by far. Get a new profession. 
</p>
<p>
<span style="color:#469dee">
o	While ProfBack is not in the business of censorship, hurtful messages can actually do more bad than good. All professors that subscribe to ProfBack are doing it at their own will; they are looking to improve upon their abilities. Try to be courteous and constructive when posting. 
</span>
</p>


<h3> Examples of <span style="color:#32B141">good </span>feedback: </h3>
<p>
•	It would be helpful if you could post the slides before class since many students like to take notes on the slides.
</p> 
<p>
<span style="color:#469dee">
o	This is a clear response and can be actionable quickly. 
</span>
</p>
<p>
•	I found your lecture on X a little boring. It had almost no examples and mainly definitions. Real world examples would help clarify many of the topics.
</p>
<p>
<span style="color:#469dee">
o	It is always helpful to give a potential solution to the problem. Try not to criticize the teacher directly; rather criticize the format or procedure so not to step on anyone’s toes. 
</span>
</p>
<p>
•	I really liked the group project this semester but wish we had less group members. Social loafing became a problem since the work did not require a great amount of people. Solutions could include doing a survey at the end for each group member to respond or to cut down on group-size. 
</p>
<p>
<span style="color:#469dee">
o	Praising another aspect of the semester first is always a smart decision. It can give the professor feedback on what students like and dislike. 
</span>
</p>
<p>
•	Loved the speaker today! Thought it was interesting and nothing I have ever experienced in an English class before. 
</p>
<p>
<span style="color:#469dee">
o	ProfBack is not exclusively for negative comments about professors. It can also serve as a tool to show the teacher what is working. 
</span>
</p>
</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Got it!</button>

  </div>
</div>
<br>
<br>

<%= render 'form' %>

<%= link_to 'Back', root_path %>

</div>