<div class="front-bg">
        <img alt="" class="front-image" src="/assets/blue_georgetown_4.jpg">
      </div>
<div class="feedback-container">
<!--<div class="row-fluid">
  <div class="span3"></div>
    <div class="span6">-->
<h2>Professor Feedback Form</h2>

<div class="feedback-container-modal">
<a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">Feedback Examples!</a>
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Feedback Examples</h3>
  </div>
  <div class="modal-body">
    <p>Our primary goal is to provide <b>useful</b> and <b>relevant</b> feedback to professors to improve YOUR learning experience. In order to do this we need your help! Please look below for examples of poor feedback and helpful feedback! </p>
    <p>
<h3> Examples of <span style="color:#FF0000">poor</span> feedback: </h3>
<p>
•	Lecture was boring today. I almost fell asleep 
</p>

<p>
<span style="color:#469dee">
o This feedback is slightly rude and not specific enough for the professor to change anything. In fact, it may lead the professor to ignore this feedback. Try to be polite and to provide specific suggestions to help the professor understand how you think he or she could improve.
</p>
<!--
<p>
•	The movie we watched today was worthless. 
</p>
<p>
<span style="color:#469dee">
o	Again, not specific enough. The professor probably thinks the movie is valuable for specific reasons. Try to bring up why you thought it was worthless.
</span>
</p> 

<p>
•	You are the worst professor at Georgetown by far. Get a new profession. 
</p>
<p>
<span style="color:#469dee">
o	While ProfBack is not in the business of censorship, hurtful messages can actually do more bad than good. All professors that subscribe to ProfBack are doing it at their own will; they are looking to improve upon their abilities. Try to be courteous and constructive when posting. 
</span>
</p>
-->

<h3> Examples of <span style="color:#32B141">helpful </span>feedback: </h3>
<p>
•	It would be helpful if you could post the slides before class since many students like to take notes on the slides.
</p> 
<p>
<span style="color:#469dee">
o	This is a clear response, can be acted upon quickly, and could make a positive impact on the learning environment. 
</span>
<!--
</p>
<p>
•	I found your lecture on X a little boring. It had almost no examples and mainly definitions. Real world examples would help clarify many of the topics.
</p>
<p>
<span style="color:#469dee">
o	It is always helpful to give a potential solution to the problem. Try not to criticize the teacher directly; rather criticize the format or procedure so not to step on anyone’s toes. 
</span>
</p> -->
<p>
•	I really liked the group project this semester but wish we had fewer group members. Social loafing became a problem since the work did not require a great number of people to complete. Solutions could include doing a 360 degree evaluation at the end of each semester to evaluate each group member's performance or to cut down on group-size. 
</p>
<p>
<span style="color:#469dee">
o	Praising another aspect of the semester first is always a smart decision. It can give the professor feedback on what students like and dislike. Additionally, providing concrete examples of steps the professors can take will give the professor a better idea of how he or she can improve the class!
</span>
</p>

</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Got it!</button>

  </div>
</div>
</div>
<br>
<br>

<%= render 'form' %>

<%= link_to 'Back', root_path %>
</div>

